
header {
	background-color: #FFF;
	
}

nav{
	position: fixed;
	top: 0rem;
	width: 100%;
	background-color: white;
	margin: 0rem;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
}

.nav-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	list-style: none;
	font-size: 1.5rem;
	font-family: "Roboto";
	padding: 1.5rem 2rem 1.5rem 2rem;
	width: 26rem;
  margin: auto;
	text-transform: uppercase;
	
}

.logo-black {
	content: url("../images/bent-creek-logo.png");
	width: 3rem;
	position: absolute;
	padding: 1rem;
}



/*.homeLink{
	color: black;
}

.aboutLink {
	color: #968772;
}

.newsletterLink {
	color: black;
}*/



ul {
	padding: 1rem;
}

body {
background-color: #F2F1E8;
margin: auto;
font-family: "Merriweather";
}

.container {
	padding: 10px 150px;
}

.paragraph {
	line-height: 3;
	margin: 0;
}

h1 {
	text-align: center;
	font-size: 5rem;
	padding-top: 3rem;
	font-weight: normal;
}

.section {
	padding: 20px 50px;
}

.first-section{
	min-height: 150px;
}

blockquote{
	border-left: 2px solid #968772;
	padding: 25px 50px 25px 50px;
	margin: 0;
	margin-left: 50px;
	font-style: italic;
}

.paragraph-container {
	display: flex;
}

aside {
	padding: 20px;
}

aside p {
	font-size: 12px;
	line-height: 20px;
}

aside img {
	height: 120px;
	width: 170px;
}

table {
	margin: 2rem 4rem 2rem 4rem;
	border-collapse: collapse;
	margin-bottom: 3rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 12rem;
	padding-right: 12rem;
	line-height: 3rem;
}

table, tbody, td{
	border: 1px solid black;
	text-align: center;
}

.different-row {
	background-color: #F2EADC;
}

td{
	padding: 1rem;
}
.birdhouse-pic{
	float: left;
	padding: 10px;
	padding-left: 0;
	height: 120px;
	width: 150px;
	background-size: cover;
}

.grow {
	background-image: url("../images/background-3.jpg");
	height: 100px;
	width: 100px;
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	text-align: center;
	align-items: center;
	color: white;
	padding: center;
}

.centerTheWords {
	padding: 10rem;
	font-size: 4rem;
}

#grow-pic{
  height: 25rem;
	width: auto;
}

footer {
	background-color: #2B2F26;
	color: white;
	padding: 1rem;
	font-family: "Merriweather";
	margin: 0rem;
}
.nav-item a{
	color: black;
}

.nav-item a.active {
	color: #968772;
}
.nav-item a:hover {
	color: #CD5D67;
}

* {
	transition: all 1s;
}