
header {
	background-color: #FFFFFF;
}

nav{
	position: fixed;
	top: 0rem;
	width: 100%;
	background-color: white;
	margin: 0rem;
}

.nav-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	list-style: none;
	font-size: 1.5rem;
	font-family: "Roboto";
	padding: 1.5rem 2rem 1.5rem 2rem;
	width: 26rem;
  margin: auto;
	text-transform: uppercase;
}

.logo-black {
	content: url("/Users/jordangregory/week-one-project/images/bent-creek-logo.png");
	width: 3rem;
	position: absolute;
	padding: 1rem;
}

body{
	background-image: url("/Users/jordangregory/week-one-project/images/background-2.jpg");
	position: static;
	background-repeat: no repeat;
	background-size: cover;
	width: 100%;
	
}

.homeLink{
	color: black;
}

.aboutLink {
	color: black;
}

.newsletterLink {
	color: #968772;
}

fieldset{
	position: relative;
	top: 1rem;
	padding: 1rem 2rem 1rem 2rem;
	margin: 7rem 26rem 4rem 25rem;
	background-color: white;
	font-family: "Merriweather";	
}

.sign-up {
	text-align: center;
}

#name {
  border: none;
  border-bottom: 1px solid #968772;
	width: 100%;
	text-align: left;
}

#email {
  border: none;
  border-bottom: 1px solid #968772;
	width: 100%;
}


#submit_button{
  background: #968772;
  color: white;
  padding: 15px;
	font-size: 0.9em;
  border: none;
  outline: none;
	margin: 2rem 0rem 1rem 10rem;
}
